@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
$font-stack: 'Source Sans Pro', sans-serif;
$primary-color: #3c3c3b;
$link-color: #0078A8;

$map-height: 800px;
$table-height: 560px;
$table-padding-top: 50px;

body,
html {
  height: 1410px;
  margin: 10px;
  background: #fff;
  font-family: $font-stack;
  color: $primary-color;
}

a {
  color: $link-color;
}

#map {
  width: 100%;
  height: $map-height;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  margin-top: -2rem;
  margin-left: -2rem;
}

#mapLogo {
  @media screen and (max-width: 480px) {
    height: 45px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    padding: 10px;
  }
  height: 80px;
  z-index: 999;
  position: absolute;
  top: 30px;
  left: 30px;
}

.map-legend {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  margin-right: 30px;
  margin-top: 30px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
}

.map-legend-row:not(:last-child) {
  margin-bottom: 0.75rem;
}

.map-legend-color {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.map-legend-content {
  display: none !important;
}

.map-legend-icon {
  color: $link-color;
  text-decoration: underline;
  cursor: pointer;
}

.visible {
  display: flex !important;
}

.invisible {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.popup {

}

.popup-table {
  td {
    padding-bottom: 0.75rem;
  }
  td:nth-child(1) {
    padding-right: 0.75rem;
    width: 25%;
  }
  td a {
    word-break: break-word;
  }
  font-size: 0.9rem;
  table-layout: fixed;
  width: 95%;
}
.popup-p {
  font-size: 0.9rem;
}

.table-wrapper {
  height: $table-height;
  background: #fff;
  padding-top: $table-padding-top;
}

.details-col {
  cursor: pointer;
}

.details-link {
  cursor: pointer;
  text-decoration: underline;
  color: $link-color;
}
